<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            background-color: white
        }

        .hover11 figure img {
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        .hover11 figure:hover img {
            opacity: 0.7;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="container" style="padding-top: 100px">
        <div class="card-deck">
            <% movies.forEach(el => { %>
            <div class="card hover11">
                <figure> <a href="/movie/<%= el.id %>"> <img class="card-img-top image"
                            src="<%= el.image %>"
                            alt="Card image cap"> </a> </figure>
                <div class="card-body">
                    <h5 class="card-title"> <%= el.title %> </h5>
                    <p class="card-text"> <%= helpers.convertDate(el.date) %></p>
                    <p class="card-text"><small class="text-muted">seats left: <%= el.seats%> </small></p>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</body>

</html>